body {
  font-family: sans-serif;
  line-height: 1.65;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.9);
}

.content {
  padding: 120px 0;
}
.content__header {
  text-align: center;
}

.content__description {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
}